// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.style2{
    font-size: 22px;
    line-height: 35px;
    margin: 30px;
    padding-bottom: 30px
}
.style6{
    font-size: 30px;
    margin: 30px;
}